$primary-color: #e50914;
$secondary-color: #333;
$background-color: #141414;
$text-color: #e5e5e5;
$border-color: #555;
$completed-color: #2ecc71;
$pending-color: #f39c12;

$font-primary: "Arial", sans-serif;

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
